{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title  %} Regroupement Article par Reference {% endblock  %} 

{% block page_content %}

    <table class="datagrid"> 
            <thead>
                <th> Reference</th>
                <th> Designation</th> 
                <th> Quantite</th> 
                <th> Action</th> 
            </thead>
        {% for produit in produits %}
            <tr>
                <td>
                    {{produit.reference}}
                </td>
                <td>
                    {{ produit.designation }}
                </td>  
                <td>
                    {{produit.qte}}
                </td> 
                <td>
                    <a href="{{ path('detail_reference_fournisseur',{'reference':produit.reference}) }}" class="btn btn-primary"> Details </a> 
                </td>
                
                
            </tr>
        {% endfor %}
    </table>

 

{% endblock %}