<div class="block_dr_home">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="text_block_dr_home">
                    <h4>Docteur</h4>
                    <h5>El Belghami Kadiri Chafika</h5>
                    <p>Master en Sciences Postgraduate en Paro-Implantologie, Columbia University, New-York, USA.</p>
                    <p>Formation post-universitaire en implantologie, prothèse , et esthétique en Europe et aux Etats-unis.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img_block_dr_home">
                    <img class="img-fluid" src="{{ asset('assets/images/dr_belghami_cercle.png')}}" alt="Dr.El Belghami Kadiri Chafika">
                </div>
            </div>
        </div>
        <a href="/a-propos/docteur-el-belghami-kadiri-chafika">Découvrir</a>
    </div>
</div>