<div class="nos_dentistes_home">
    <div class="container">
        <h2 class="titre_nos_dentistes_home">Nos dentistes</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="item_nos_dentistes_home">
                    <div class="img_nos_dentistes_home">
                        <a href="#"><img class="img-fluid" src="{{ asset('assets/images/dr_atlas.jpg')}}" alt="Mohamed Atlas"></a>
                        <div class="text_nos_dentistes_home">
                            <h4>Mohamed Atlas</h4>
                            <h5>chirurgie dentaire</h5>
                            <a href="#" class="bg_vert">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="item_nos_dentistes_home">
                    <div class="img_nos_dentistes_home">
                        <a href="#"><img class="img-fluid" src="{{ asset('assets/images/dr_kadimi.jpg')}}" alt="Karima Semlal"></a>
                        <div class="text_nos_dentistes_home">
                            <h4>Karima Semlal</h4>
                            <h5>chirurgie dentaire</h5>
                            <a href="#" class="bg_vert">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="item_nos_dentistes_home">
                    <div class="img_nos_dentistes_home">
                        <a href="#"><img class="img-fluid" src="{{ asset('assets/images/dr_kamal.jpg')}}" alt="Anis Kamal"></a>
                        <div class="text_nos_dentistes_home">
                            <h4>Anis Kamal</h4>
                            <h5>chirurgie dentaire</h5>
                            <a href="#" class="bg_vert">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="item_nos_dentistes_home">
                    <div class="img_nos_dentistes_home">
                        <a href="#"><img class="img-fluid" src="{{ asset('assets/images/dr_kadimi.jpg')}}" alt="Laila Kadimi"></a>
                        <div class="text_nos_dentistes_home">
                            <h4>Laila Kadimi</h4>
                            <h5>chirurgie dentaire</h5>
                            <a href="#" class="bg_vert">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>