<div class="services_home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pl-0">
                <div class="services_home_left">
                    <h2 class="titre_services_home">Services</h2>
                    <div class="img_services_home_left">
                        <img class="img-fluid" src="{{ asset('assets/images/img_services_home.png')}}" alt="Services">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services_home_right">
                    <div class="item_services_home_right">
                        <div class="block_services_home_right">
                            <div class="img_services_home_right">
                                <img src="{{ asset('assets/images/icon_services_home_01.png')}}" alt="Parodontie">
                            </div>
                            <div class="text_services_home_right">
                                <h3>Parodontie</h3>
                                <p>
                                    Les lésions parodontales peuvent être d’origine infectieuses ou traumatiques. La conséquence , esthétique seulement au départ , peut être plus grave...
                                </p>
                            </div>
                        </div>
                        <div class="button_en_savoir">
                            <a href="#">
                                <span class="bg_gradient_vert">En savoir</span><samp class="bg_bleu"><b>+</b></samp>
                            </a>
                        </div>
                    </div>
                    <div class="item_services_home_right">
                        <div class="block_services_home_right">
                            <div class="img_services_home_right">
                                <img src="{{ asset('assets/images/icon_services_home_02.png')}}" alt="Implants Dentaires">
                            </div>
                            <div class="text_services_home_right">
                                <h3>Implants Dentaires</h3>
                                <p>
                                    Introduction Aujourd’hui l’implant dentaire est une solution incontournable et éprouvée de remplacement des dents absentes, sans toucher aux dents naturelles voisines...
                                </p>
                            </div>
                        </div>
                        <div class="button_en_savoir">
                            <a href="#">
                                <span class="bg_gradient_vert">En savoir</span><samp class="bg_bleu"><b>+</b></samp>
                            </a>
                        </div>
                    </div>
                    <div class="item_services_home_right">
                        <div class="block_services_home_right">
                            <div class="img_services_home_right">
                                <img src="{{ asset('assets/images/icon_services_home_03.png')}}" alt="Prestations">
                            </div>
                            <div class="text_services_home_right">
                                <h3>Prestations</h3>
                                <p>
                                    Avant de vous proposer des soins ou de procéder à une opération, il sera indispensable de connaître vos antécédents médicaux et dentaires...
                                </p>
                            </div>
                        </div>
                        <div class="button_en_savoir">
                            <a href="#">
                                <span class="bg_gradient_vert">En savoir</span><samp class="bg_bleu"><b>+</b></samp>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>