<div class="switcher_home">
    <div class="container">
        <div class="text_switcher_home">
            <h1>La recherche <span>de l'excellence</span></h1>
            <label>dans l'esthétique dentaire<strong>.</strong></label>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ante orci, maximus et malesuada a, iaculis blandit mauris. Fusce ac viverra nibh.
            </p>
        </div>
        <div class="button_en_savoir">
            <div class="container">
                <a href="#"><span class="bg_gradient_bleu">En savoir</span><samp class="bg_vert"><b>+</b></samp></a>
            </div>
        </div>
    </div>
</div>