
<div class="section_breadcrumbs">
	<div class="container">
		<ul>
			<li><a href="{{ path('homepage') }}">Accueil</a><samp>></samp></li>
			<li><a href="{{ path('articles') }}">Articles</a><samp>></samp></li>
			<li><a>{{article_selected}}</a></li>
		</ul>
	</div>
</div>